# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.wrangler/tmp
public/fonts/emerald-pro/*
public/fonts/emerald-pro
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prettier
.prettierrc
.env
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-wal
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-shm
