:root {
  --normal-type-color: #c6c199;
  --fire-type-color: #f08030;
  --water-type-color: #5584f1;
  --grass-type-color: #78c850;
  --electric-type-color: #f8d030;
  --ice-type-color: #98d8d8;
  --fighting-type-color: #c03028;
  --poison-type-color: #a040a0;
  --ground-type-color: #e0c068;
  --flying-type-color: #a890f0;
  --psychic-type-color: #f85888;
  --bug-type-color: #a8b820;
  --rock-type-color: #b8a038;
  --ghost-type-color: #705898;
  --dragon-type-color: #7038f8;
  --dark-type-color: #705848;
  --steel-type-color: #b8b8d0;
  --fairy-type-color: #f0b6c0;
  --background-color-mix: var(--color-neutral-100);
  
  /* Complementary colors */
  --normal-type-complementary: #6666c1;
  --fire-type-complementary: #30c0f0;
  --water-type-complementary: #f15544;
  --grass-type-complementary: #c850a0;
  --electric-type-complementary: #3030f8;
  --ice-type-complementary: #d89898;
  --fighting-type-complementary: #28c0c8;
  --poison-type-complementary: #40a040;
  --ground-type-complementary: #6868e0;
  --flying-type-complementary: #f0a850;
  --psychic-type-complementary: #88f858;
  --bug-type-complementary: #2020a8;
  --rock-type-complementary: #3838b8;
  --ghost-type-complementary: #989870;
  --dragon-type-complementary: #f8c838;
  --dark-type-complementary: #487058;
  --steel-type-complementary: #d0d0b8;
  --fairy-type-complementary: #c0f0b6;
  /* 25% darker ring colors */
  --normal-type-ring: color-mix(in oklab, var(--normal-type-color) 75%, #000000 25%);
  --fire-type-ring: color-mix(in oklab, var(--fire-type-color) 75%, #000000 25%);
  --water-type-ring: color-mix(in oklab, var(--water-type-color) 75%, #000000 25%);
  --grass-type-ring: color-mix(in oklab, var(--grass-type-color) 75%, #000000 25%);
  --electric-type-ring: color-mix(in oklab, var(--electric-type-color) 75%, #000000 25%);
  --ice-type-ring: color-mix(in oklab, var(--ice-type-color) 75%, #000000 25%);
  --fighting-type-ring: color-mix(in oklab, var(--fighting-type-color) 75%, #000000 25%);
  --poison-type-ring: color-mix(in oklab, var(--poison-type-color) 75%, #000000 25%);
  --ground-type-ring: color-mix(in oklab, var(--ground-type-color) 75%, #000000 25%);
  --flying-type-ring: color-mix(in oklab, var(--flying-type-color) 75%, #000000 25%);
  --psychic-type-ring: color-mix(in oklab, var(--psychic-type-color) 75%, #000000 25%);
  --bug-type-ring: color-mix(in oklab, var(--bug-type-color) 75%, #000000 25%);
  --rock-type-ring: color-mix(in oklab, var(--rock-type-color) 75%, #000000 25%);
  --ghost-type-ring: color-mix(in oklab, var(--ghost-type-color) 75%, #000000 25%);
  --dragon-type-ring: color-mix(in oklab, var(--dragon-type-color) 75%, #000000 25%);
  --dark-type-ring: color-mix(in oklab, var(--dark-type-color) 75%, #000000 25%);
  --steel-type-ring: color-mix(in oklab, var(--steel-type-color) 75%, #000000 25%);
  --fairy-type-ring: color-mix(in oklab, var(--fairy-type-color) 75%, #000000 25%);
}
@supports (color: color(display-p3 0.55 0.19 0.71)) {
  :root {
    --normal-type-color: color(display-p3 0.78 0.78 0.59);
    --fire-type-color: color(display-p3 0.95 0.5 0.19);
    --water-type-color: color(display-p3 0.33 0.52 0.94);
    --grass-type-color: color(display-p3 0.47 0.78 0.31);
    --electric-type-color: color(display-p3 0.9711 0.8549 0.2055);
    --ice-type-color: color(display-p3 0.6 0.85 0.85);
    --fighting-type-color: color(display-p3 0.75 0.19 0.16);
    --poison-type-color: color(display-p3 0.5035 0.1907 0.552);
    --ground-type-color: color(display-p3 0.88 0.78 0.41);
    --flying-type-color: color(display-p3 0.66 0.56 1);
    --psychic-type-color: color(display-p3 0.9596 0.4116 0.6009);
    --bug-type-color: color(display-p3 0.7029 0.7578 0.1629);
    --rock-type-color: color(display-p3 0.6843 0.5446 0.1546);
    --ghost-type-color: color(display-p3 0.383 0.3016 0.5433);
    --dragon-type-color: color(display-p3 0.3183 0.2484 0.9929);
    --dark-type-color: color(display-p3 0.2511 0.1948 0.1955);
    --steel-type-color: color(display-p3 0.72 0.72 0.82);
    --fairy-type-color: color(display-p3 0.94 0.71 0.75);
    --background-color-mix: var(--color-neutral-100);
    --opaque-p3: color(display-p3 0.2806 0.2806 0.2806 / 0.1);
    
    /* Complementary colors in P3 gamut */
    --normal-type-complementary: color(display-p3 0.22 0.22 0.41);
    --fire-type-complementary: color(display-p3 0.05 0.5 0.81);
    --water-type-complementary: color(display-p3 0.67 0.48 0.06);
    --grass-type-complementary: color(display-p3 0.53 0.22 0.69);
    --electric-type-complementary: color(display-p3 0.0289 0.1451 0.7945);
    --ice-type-complementary: color(display-p3 0.4 0.15 0.15);
    --fighting-type-complementary: color(display-p3 0.25 0.81 0.84);
    --poison-type-complementary: color(display-p3 0.4965 0.8093 0.448);
    --ground-type-complementary: color(display-p3 0.12 0.22 0.59);
    --flying-type-complementary: color(display-p3 0.34 0.44 0);
    --psychic-type-complementary: color(display-p3 0.0404 0.5884 0.3991);
    --bug-type-complementary: color(display-p3 0.2971 0.2422 0.8371);
    --rock-type-complementary: color(display-p3 0.3157 0.4554 0.8454);
    --ghost-type-complementary: color(display-p3 0.617 0.6984 0.4567);
    --dragon-type-complementary: color(display-p3 0.6817 0.7516 0.0071);
    --dark-type-complementary: color(display-p3 0.7489 0.8052 0.8045);
    --steel-type-complementary: color(display-p3 0.28 0.28 0.18);
    --fairy-type-complementary: color(display-p3 0.06 0.29 0.25);
  }
}

.normal-type {
  /* color: var(--normal-type-color); */
  color: color-mix(
    in oklab,
    var(--normal-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--normal-type-color)
  );
  border-radius: 0.15rem;
}

.fire-type {
  color: color-mix(
    in oklab,
    var(--fire-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--fire-type-color)
  );
  border-radius: 0.15rem;
}
.water-type {
  color: color-mix(
    in oklab,
    var(--water-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--water-type-color)
  );
  border-radius: 0.15rem;
}
/* .water-type {
  transform: scaleX(0.9);
} */
.grass-type {
  color: color-mix(
    in oklab,
    var(--grass-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--grass-type-color)
  );
  border-radius: 0.15rem;
}
.electric-type {
  color:
    var(--color-neutral-50);
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--electric-type-color)
  );
  border-radius: 0.15rem;
}
.ice-type {
  color: color-mix(
    in oklab,
    var(--ice-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--ice-type-color)
  );
  border-radius: 0.15rem;
}
.fighting-type {
  color: color-mix(
    in oklab,
    var(--fighting-type-color) 5%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--fighting-type-color)
  );
  border-radius: 0.15rem;
}
.poison-type {
  color: color-mix(
    in oklab,
    var(--poison-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--poison-type-color)
  );
  border-radius: 0.15rem;
}
.ground-type {
  color: color-mix(
    in oklab,
    var(--ground-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--ground-type-color)
  );
  border-radius: 0.15rem;
}
.flying-type {
  color: color-mix(
    in oklab,
    var(--flying-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--flying-type-color)
  );
  border-radius: 0.15rem;
}
.psychic-type {
  color: color-mix(
    in oklab,
    var(--psychic-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--psychic-type-color)
  );
  border-radius: 0.15rem;
}
.bug-type {
  color: color-mix(
    in oklab,
    var(--bug-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--bug-type-color)
  );
  border-radius: 0.15rem;
}
.rock-type {
  color: color-mix(
    in oklab,
    var(--rock-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--rock-type-color)
  );
  border-radius: 0.15rem;
}
.ghost-type {
  color: color-mix(
    in oklab,
    var(--ghost-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--ghost-type-color)
  );
  border-radius: 0.15rem;
}
.dragon-type {
  color: color-mix(
    in oklab,
    var(--dragon-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--dragon-type-color)
  );
  border-radius: 0.15rem;
}
.dark-type {
  color: color-mix(
    in oklab,
    var(--dark-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--dark-type-color)
  );
  border-radius: 0.15rem;
}
.steel-type {
  color: color-mix(
    in oklab,
    var(--steel-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--opaque-p3) 25%,
    var(--steel-type-color)
  );
  border-radius: 0.15rem;
}
.steel-type p {
  transform: scaleX(1.1);
}
.fairy-type {
  color: color-mix(
    in oklab,
    var(--fairy-type-color) 10%,
    var(--background-color-mix)
  );
  background-color: color-mix(
    in oklab,
    var(--background-color-mix) 25%,
    var(--fairy-type-color)
  );
  border-radius: 0.15rem;
}
