.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.map-grid {
  grid-area: 1 / 1 / 13 / 13;
}
.search-bar-grid {
  grid-area: 1 / 2 / 2 / 6;
}
.map-place-info-grid {
  grid-area: 1 / 9 / 6 / 13;
}
.selecta-grid {
 grid-area: 5 / 9 / 6 / 12; 
}
.dexnav-grid {
  grid-area: 6 / 1 / 13 / 8;
}
.roamers-grid {
  grid-area: 2 / 12 / 11 / 13;
}
@media (max-width: 768px) {
  .parent {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .map-grid {
    grid-area: 1 / 1 / 13 / 13;
  }
  .search-bar-grid {
    grid-area: 1 / 1 / 2 / 6;
  }
  .map-place-info-grid {
    grid-area: 1 / 8 / 6 / 13;
  }
  .selecta-grid {
   grid-area: 5 / 8 / 6 / 13 
  }
  .dexnav-grid {
    grid-area: 7 / 1 / 13 / 7;
  }
}
@media (max-height: 1200px) {
  .parent {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .map-grid {
    grid-area: 1 / 1 / 13 / 13;
  }
  .search-bar-grid {
    grid-area: 1 / 1 / 2 / 6;
  }
  .map-place-info-grid {
    grid-area: 1 / 8 / 6 / 13;
  }
  .selecta-grid {
   grid-area: 5 / 8 / 6 / 13 
  }
  .dexnav-grid {
    grid-area: 7 / 1 / 13 / 7;
  }
}
@media (max-width: 768px) and (max-height: 1000px) {
  .dexnav-grid {
    grid-area: 9 / 1 / 13 / 7;
  }
}
@media (max-height: 1000px) {
  .dexnav-grid {
    grid-area: 6 / 1 / 13 / 7;
  }
}
