.parent {
  display: grid;
  grid-template-columns: 1rem repeat(9, 1fr) 1rem;
  grid-template-rows: 3rem repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.map-grid {
  grid-area: 1 / 1 / 13 / 13;
}
.search-bar-grid {
  grid-area: 1 / 2 / 2 / 12;
}
.search-bar-grid .subgrid {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1rem 1fr 1fr 1rem;
}
.map-place-info-grid {
  grid-area: 2 / 8 / 12 / 11;
}
.selecta-grid {
  grid-area: 1 / 8 / 1 / 13;
}
.dexnav-grid {
  grid-area: 7 / 2 / 13 / 7;
}
.roamers-grid {
  grid-area: 2 / 1 / 11 / 2;
}
.roamers-info-grid {
  grid-area: 10 / 3 / 13 / 7;
}
.places-list-button-grid {
  grid-area: 3 / 1 / 4 / 3;
  width: 2rem;
}

@media (max-width: 768px) {
  .parent {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .map-grid {
    grid-area: 1 / 1 / 13 / 13;
  }
  .search-bar-grid {
    grid-area: 1 / 1 / 2 / 6;
  }
  .map-place-info-grid {
    width: 100%;
    grid-area: 1 / 8 / 7 / 13;
    max-width: 100%;
    min-width: auto;
  }
  .selecta-grid {
    grid-area: 6 / 7 / 7 / 13;
  }
  .dexnav-grid {
    grid-area: 6 / 1 / 13 / 8;
    width: 100%;
    max-width: 100%;
    min-width: auto;
  }
  .places-list-button-grid {
    grid-area: 2 / 1 / 3 / 3;
    width: 2rem;
    height: 5rem;
  }
  .trainers-button-grid {
    grid-area: 2 / 5 / 3 / 7;
    width: 2rem;
    height: 5rem;
  }
}
@media (width >= 64rem) {
  .map-place-info-grid {
    grid-area: 2 / 7 / 12 / 11;
    /* width: 25rem; */
  }
  .selecta-grid {
    grid-area: 11 / 8 / 13 / 10;
  }
}
/* @media (max-height: 1200px) {
  .parent {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .map-grid {
    grid-area: 1 / 1 / 13 / 13;
  }
  .search-bar-grid {

    grid-area: 1 / 1 / 2 / 6;
  }
  .map-place-info-grid {
    grid-area: 1 / 8 / 6 / 13;
  }
  .selecta-grid {
   grid-area: 5 / 8 / 6 / 13;
  }
  .dexnav-grid {
    grid-area: 7 / 1 / 13 / 7;
  }
} */
