.image {
  background-image: url("hoenn.jpg");
  background-position: "top left";
}
.floater {
  position: absolute;
  touch-action: none;
}
.cool-font {
  font-family: "Calamity";
}
.lil-font {
  font-family: "Inter";
}

.water {
  fill: var(--color-blue-500);
  border: 1px solid var(--color-sky-500);
}

.town {
  fill: var(--color-sky-400);
  opacity: 50%;
  border-radius: 50px;
}

.city {
  background-color: var(--color-red-600);
  border-radius: 35px;
  opacity: 90%;
  fill: var(--color-red-600);
}

.route {
  border: 1px solid var(--color-emerald-400);
  opacity: 20%;
  fill: var(--color-green-600);
}

.land {
  background-color: var(--color-emerald-500);
}

.dungeon {
  content: "⭐️";
  fill: var(--color--emerald-200);
  opacity: 40%;
  border: 1px solid var(--color-green-800);
}
.land-zone {
  background-image: linear-gradient(
    100deg,
    var(--color-emerald-600),
    var(--color-green-800)
  );
}
.water-zone {
  background-image: linear-gradient(
    100deg,
    var(--color-sky-600),
    var(--color-blue-800)
  );
}
.fishing-zone {
  background-image: linear-gradient(
    100deg,
    var(--color-amber-500),
    var(--color-orange-600)
  );
}
.map-place-info-textbox-gradient {
  background-image: linear-gradient(
    100deg,
    var(--color-neutral-50),
    var(--color-sky-100)
  );
}
.tabs {
  max-width: 600px;
  margin: 0 auto;
}

.tab-list {

  /* flex-direction: row; */
  /* flex-wrap: nowrap; Ensures tabs stay in one line */
  border-bottom: 1px solid #ccc;
}
.land-tab {
  color: var(--color-emerald-500);
}
.water-tab {
  color: var(--color-sky-500);
}
.fishing-tab {
  color: var(--color-amber-500);
}

.content-visibility {
  content-visibility: auto;
  contain-intrinsic-size: 100px;
  contain: layout paint;
}

.selected-place {
  animation: selected-place-animation 1s infinite;
}

@keyframes selected-place-animation {
  from {
    /* first frame */
    filter: brightness(100%) blur(10px);
  }
  to {
    /* last frame */
    filter: brightness(155%) blur(0px);
  }
}
